/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* GLOBALES */
a{
    text-decoration: none;
    color: black;
}

body{
font-size: 1.6rem; /* back to default */
font-family: 'Raleway', sans-serif;
}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

img{
    width: 100%;
    display: block;
}

.nav-principal{
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


.nombre-sitio{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 4rem;
}

.nombre-sitio span{
    color: #037bc0;
}


.hero{
    background-image: url(../img/principal.jpg);
    height: 55rem;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;

    /* Esto hace lo mismo que la linea de arriba */
    /* margin-inline: auto; */
}

.categorias h2{
    text-align: center;
}

.categoria a{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover{
    background-color: #037bc0;
    color: #FFFFFF;
    border-bottom-right-radius: 1rem;

}

.contenedor-navegacion{
    border-top: .1rem dotted black;
}

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

